/* VARIÁVEIS */
  
/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
}



body{
    height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column; 
  }


header{
    padding: 35px 15px;
    background-color: orangered;
    color: rgb(238, 237, 237);
}

header h1{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.7px;
}


#box { 
    width: 150px;
    height: 150px;
    position: absolute;
    background: gray;
    left: 200px;
    top: 200px;
    background-image: url("./../images/gato-dentro-da-caixa.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    background-color: orangered;
    color: rgb(238, 237, 237);
    text-align: center;
    min-height: 80px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

